<article
  class="
    masonry-grid
    masonry-grid-layout-{{ block.settings.layout }}
     masonry-grid-width-1
         masonry-grid-heading
    ">
  <h3>{{ section.settings.above_title }}</h3>
  <h2>{{ section.settings.title }}</h2>
  <h5>{{ section.settings.below_title }}</h5>
  
</article>