
<!-- spurit_po-added -->
{% include 'spurit_po-cart-snippet' %}
<!-- /spurit_po-added -->
<h1 class="cart-title"><div>
  {% comment %}<img src="//cdn.shopify.com/s/files/1/2137/0833/files/heroines-logo-0004.png?13363924268585443342" alt="Cart" style="max-height: 44px;"/>{% endcomment %}{{ 'cart.title' | t }}</div></h1>
{%- section 'static-cart' -%}
