<div class="shopify-section">
  <div id="qab_placeholder"></div>
</div>

<div id="overlay-trigger" onclick="showOverlay();"><img src="https://cdn.shopify.com/s/files/1/2137/0833/files/cirkel-heroines-pwd.png?11102335807404491038" class="logo-image"/></div>
<div class="first-block-overlay">
  <div class="product-quickshop-backdrop visible"></div>
  <div class="circle">
    <a href="javascript:void(0);" onclick="removeOverlay();" class="close"><img src="https://cdn.shopify.com/s/files/1/2137/0833/files/close.png?16219246897750399045" /></a>
    <div class="overlay-info">
      <h2>Hej!</h2>
      <div class="desc">Heroines. Alt, der møder dig her, vil være et selekteret mix af<br/>velkendte og upcoming brands inden for smykker og accessories.</div>
      <img src="https://cdn.shopify.com/s/files/1/2137/0833/files/cirkel-heroines-pwd.png?11102335807404491038" class="logo-image"/>
      <a href="{{ shop.url }}/pages/about" class="more">Læs mere</a>
    </div>
  </div>
</div>
<div class="index-wrapper">
  {{ content_for_index }}
</div>
